<input [(ngModel)]="searchTerm" placeholder="Ricerca di carte" />
<button (click)="RCarte()">Ricerca</button>

<nav>
 
    <ul>
      <li><a routerLink="/card/sol-ring">sol-ring</a></li>
      <li><a routerLink="/card/emrakul-the-aeons-torn">emrakul-the-aeons-torn</a></li>
      <li><a routerLink="/card/liliana-dreadhorde-general">liliana-dreadhorde-general</a></li>
      <li><a routerLink="/card/ugin-the-spirit-dragon">ugin-the-spirit-dragon</a></li>
      <li><a routerLink="/card/atraxa-praetors-voice">atraxa-praetors-voice</a></li>
    </ul>
  </nav>
  
  <router-outlet></router-outlet>
  